<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <title>Web Crow</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="static/assets/cpp.svg" alt="Cpp logo" />
        <h2>Web Crow</h2>
      </div>
      <div class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/db">Db</a></li>
        </ul>
      </div>
    </header>
    <main>
      <h1>Hello Crow! God bless you!</h1>
      <p>Welcome! This page was brought by Crow Cpp server!</p>
    </main>
  </body>
</html>
